<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="../static/profile.css">
<title>SkillDB</title>

<div class="menu">
    <h2 class="mainText">SkillDB</h2>
    <a href="" type="button" class="profileButton" style="  position: fixed;
    width: 200px;
    height: 21px;
    left: 80px;
    top: 200px;

    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;

    color: #F9F8F8;">Профиль</a>
    <a href="" type="button" class="eventsButton" style=" position: fixed;
    width: 250px;
    height: 21px;
    left: 80px;
    top: 240px;

    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;

    color: #F9F8F8;">Мероприятия</a>
    <a href="" type="button" class="organizersButton" style="position: fixed;
    width: 300px;
    height: 21px;
    left: 80px;
    top: 280px;

    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;

    color: #F9F8F8;">Огранизаторы</a>
    <a href="" type="button" class="developersButton" style="  position: fixed;
    width: 300px;
    height: 21px;
    left: 80px;
    top: 440px;

    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;

    color: #F9F8F8;">О разработчиках</a>
    <a href="" type="button" class="exitButton" style="  position: fixed;
    width: 300px;
    height: 21px;
    left: 80px;
    top: 480px;

    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;

    color: #F9F8F8;">Выйти</a>
    <a href="login"
       class="door" style="position: fixed;
    width: 300px;
    height: 41px;
    left: 155px;
    top: 475px;">
        <img src="../static/img/door.png" alt=" ">
    </a>
</div>



{% block page_content %}

{% endblock %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>