{% extends "base_profile.html" %}

{% block rightarea %}
    <div class="col-9">
        <div class="whitePlace">
            <div class="row justify-content-center">
                <div class="col-12" style="height: auto;">
                    <br>
                    <br>
                    <h6 class="thx">
                        Команда SkillDB благодарит Вас за визит на наш сайт.</h6>
                    <img src="../static/img/hands.png" alt=" ">
                    <h6 class="thx">
                        Вы можете связаться с нами
                    </h6>
                </div>
                <div class="col-5">
                    <div class="devCont">
                        <div class="role">
                            <a href="#" class="inf">
                                <img src="../static/img/inf.png" style="width: 15px; height: 15px">
                            </a>
                            Тимлид, аналитик
                        </div>
                        <div style="height: 3%"></div>
                        <div class="col-12 " style="height: 50%">
                            <img src="../static/img/Liza.png" alt=" " style="height:100% ;">
                        </div>
                        <div style="height: 6%"></div>
                        <h6 class="devName">
                            Мухортова Елизавета
                        </h6>

                    </div>
                </div>
                <div class="col-5">
                    <div class="devCont">
                        <div class="role">
                            <a href="#" class="inf">
                                <img src="../static/img/inf.png" style="width: 15px; height: 15px">
                            </a>
                            Техлид
                        </div>
                        <div style="height: 3%"></div>
                        <div class="col-12" style="height: 50%">
                            <img src="../static/img/Rustem.png" alt=" " style="height: 100%;">
                        </div>
                        <div style="height: 6%"></div>
                        <h6 class="devName">
                            Хакимуллин Рустем
                        </h6>
                    </div>
                </div>

                <div class="col-5">
                    <div class="devCont">
                        <div class="role">
                            <a href="#" class="inf">
                                <img src="../static/img/inf.png" style="width: 15px; height: 15px">
                            </a>
                            Разработчик
                        </div>
                        <div style="height: 3%"></div>
                        <div class="col-12" style="height: 50%">
                            <img src="../static/img/Dima.png" alt=" " style="height: 100%;">
                        </div>
                        <div style="height: 6%"></div>
                        <h6 class="devName">
                            Герасимов Дмитрий
                        </h6>
                    </div>
                </div>
                <div class="col-5">
                    <div class="devCont">
                        <div class="role">
                            <a href="#" class="inf">
                                <img src="../static/img/inf.png" style="width: 15px; height: 15px">
                            </a>
                            Разработчик
                        </div>
                        <div style="height: 3%"></div>
                        <div class="col-12" style="height: 50%">
                            <img src="../static/img/Kamilya.png" alt=" "
                                 style="height: 100%;">
                        </div>
                        <div style="height: 6%"></div>
                        <h6 class="devName">
                            Хайруллина Камиля
                        </h6>
                    </div>
                </div>
                <div class="col-5">
                    <div class="devCont">
                        <div class="role">
                            <a href="#" class="inf">
                                <img src="../static/img/inf.png" style="width: 15px; height: 15px">
                            </a>
                            Разработчик, дизайн проекта
                        </div>
                        <div style="height: 3%"></div>
                        <div class="col-12" style="height: 50%">
                            <img src="../static/img/Sasha.png" alt=" " style="height: 100%;">
                        </div>
                        <div style="height: 6%"></div>
                        <h6 class="devName">
                            Морозова Александра
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}