{% extends "base.html" %}
{% block page_content %}
    <link rel="stylesheet" href="../static/style.css">
    <title>SkillDB</title>

    <div class="login-1">
        <body>
        <div class="container">
            <header class="title1">Хочешь активно участвовать в жизни университета?</header>
            <div class="row">
                <div class="col-1-2"><h6 class="text1">1. Запишись помощником</h6></div>
                <div class="col-1-2"><img class="img1" src="../static/img/page1.png" alt=""></div>
            </div>
            <div class="row">
                <div class="col-1-2"><h6 class="text2">2. Выполняй поручения</h6></div>
                <div class="col-1-2"><img class="img2" src="../static/img/page2.png" alt=""></div>
            </div>
            <div class="row">
                <div class="col-1-2"><h6 class="text3">3. Найди друзей и получи новый опыт</h6></div>
                <div class="col-1-2"><img class="img3" src="../static/img/page3.png" alt=""></div>
            </div>
            <div class="row">
                <div class="col-1-2"><h6 class="text4">4. Получай мерч и дополнительные баллы</h6></div>
                <div class="col-1-2"><img class="img4" src="../static/img/page4.png" alt=""></div>
            </div>
            <footer>
                <a class="btn btn-primary" href="profile.html">
                    Войти
                </a>
            </footer>
        </div>
        </body>
    </div>
{% endblock %}