{% extends "base_profile.html" %}

{% block rightarea %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="font-family: Intro Regular, sans-serif;
                                                            font-style: normal;
                                                            font-weight: normal;
                                                            font-size: 20px;
                                                            line-height: 20px;
                                                            display: flex;
                                                            align-items: flex-end;">Добавление навыков</h5>
                    {#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
                    {#                        <span aria-hidden="true">&times;</span>#}
                    {#                    </button>#}
                </div>
                <div class="modal-body">
                    <h6 style="
                                             font-family: Intro Regular, sans-serif;
                                                            font-style: normal;
                                                            font-weight: normal;
                                                            font-size: 20px;
                                                            line-height: 20px;
                                                            display: flex;
                                                            align-items: flex-end;">Спорт</h6>
                    <div style="float: left; height: 160px; width: 50%; overflow-y:scroll">
                        <input type="checkbox" class="sa" value="sp1">академическая гребля<br><br>
                        <input type="checkbox" class="sa" value="sp2">бадминтон<br><br>
                        <input type="checkbox" class="sa" value="sp3">баскетбол<br><br>
                        <input type="checkbox" class="sa" value="sp4">биатлон<br><br>
                        <input type="checkbox" class="sa" value="sp5">водное поло<br><br>
                        <input type="checkbox" class="sa" value="sp6">волейбол<br><br>
                        <input type="checkbox" class="sa" value="sp7">единоборства<br><br>
                        <input type="checkbox" class="sa" value="sp8">киберспорт<br><br>
                        <input type="checkbox" class="sa" value="sp9">легкая атлетика<br><br>
                        <input type="checkbox" class="sa" value="sp10">мини-футбол<br><br>
                        <input type="checkbox" class="sa" value="sp11">настольный теннис<br><br>
                        <input type="checkbox" class="sa" value="sp12">плавание<br><br>
                        <input type="checkbox" class="sa" value="sp13">спортивная гимнастика<br><br>
                        <input type="checkbox" class="sa" value="sp14">теннис<br><br>
                        <input type="checkbox" class="sa" value="sp15">тяжелая атлетика<br><br>
                        <input type="checkbox" class="sa" value="sp16">другое<br><br>
                    </div>
                    <br>
                    <br>

                    <div class="form-group attachments">
                        <h6 class="addPh">При необходимости прикрепите изображение
                        </h6>
                        <br>
                        <div class="alert alert-warning d-none mb1"><small
                                class="attachments-error"></small></div>
                        <div class="custom-file">
                            <input type="file" name="attachment[]" class="custom-file-input"
                                   id="customFile1">
                            <label class="custom-file-label" for="customFile1" style="
                                                            float: left;
                                                        font-family: Intro Regular, sans-serif;
                                                        font-style: normal;
                                                        font-weight: normal;
                                                        font-size: 15px;
                                                        line-height: 15px;
                                                        display: flex;
                                                        align-items: flex-end;">Выберите
                                файл...</label>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <h6 style="
                                                        font-family: Intro Regular, sans-serif;
                                                        font-style: normal;
                                                        font-weight: normal;
                                                        font-size: 20px;
                                                        line-height: 20px;
                                                        display: flex;
                                                        align-items: flex-end;">Творчество</h6>
                    <div style="float: left; height: 85px; width: 300px; overflow-y: scroll">
                        <form action="#" id="auth" method="post">
                            <input type="checkbox" class="sa" value="art1">танцы<br><br>
                            <input type="checkbox" class="sa" value="art2">рисование<br><br>
                            <input type="checkbox" class="sa" value="art3">пение<br><br>
                            <input type="checkbox" class="sa" value="art4">игра на музыкальных
                            инструментах<br><br>
                            <input type="checkbox" class="sa" value="art5">сценическая речь<br><br>
                            <input type="checkbox" class="sa" value="art6">фотография<br><br>
                            <input type="checkbox" class="sa" value="art7">другое<br><br>
                        </form>
                    </div>

                    <div class="form-group attachments">
                        <h6 class="addPh">При необходимости прикрепите изображение
                        </h6>
                        <br>
                        <div class="alert alert-warning d-none mb1"><small
                                class="attachments-error"></small></div>
                        <div class="custom-file">
                            <input type="file" name="attachment[]" class="custom-file-input"
                                   id="customFile1">
                            <label class="custom-file-label" for="customFile1" style="
                                                            float: left;
                                                        font-family: Intro Regular, sans-serif;
                                                        font-style: normal;
                                                        font-weight: normal;
                                                        font-size: 15px;
                                                        line-height: 15px;
                                                        display: flex;
                                                        align-items: flex-end;">Выберите
                                файл...</label>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="
                            float: left;
                            font-family: Intro Regular, sans-serif;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 15px;
                            line-height: 15px;
                            display: flex;
                            align-items: flex-end;"
                    >Закрыть
                    </button>
                    <button type="button" class="btn btn-primary" style="
                                                            float: left;
                                                        font-family: Intro Regular, sans-serif;
                                                        font-style: normal;
                                                        font-weight: normal;
                                                        font-size: 15px;
                                                        line-height: 15px;
                                                        display: flex;
                                                        align-items: flex-end;">Сохранить изменения
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="whitePlace">
            <div class="col-6 offset-md-3">
                <br>
                <img src="../static/img/image.png" style="  width: 150px;
                    height: 150px;margin-left: auto;margin-right: auto" alt="">
            </div>
            <br>
            <div class="col-6 offset-md-3">
                <h6 class="name">Мария Иванова</h6>
                <h6 class="name">ВШ ИТИС 11-905</h6>
                <!--#if expr="условие1" -->
                <h6 class="student">кто-то важный</h6>
                <!--#endif -->
            </div>
            <div class="col-md-auto">
                <div class="skillCont">
                    <div class="col-1-4">
                        <h6 class="txt"><br>Мои навыки:</h6>
                    </div>
                    <div class="col-2-4">
                        <a type="button" data-toggle="modal" data-target="#exampleModal"
                           style="float: right; width: 15%; height: 100%; padding: 10px ">
                            +
                        </a>
                    </div>
                    <br>
                    <div class="col-12">
                        <br>
                        ...
                    </div>

                </div>
            </div>
            <br>
            <div class="col-md-auto">
                <div class="pointsCont">
                    <div class="col-1-2">
                        <h6 class="txt"><br>Moи баллы:</h6>
                    </div>
                    <div class="col-2-2">
                        <br>
                        <h6 class="txt" style="color: orangered; font-size: 24px">25</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="NSCont">
                    <div class="col-1-2">
                        <h6 class="txt"><br>Соцсети:</h6>
                    </div>

                    <div class="col-2-2">
                        <br>
                        <a href="">
                            {#                                    <img src="#" alt=" " style="width: 27px; height: 27px">#}
                        </a>
                        <a href="">
                            {#                                    <img src="#" alt=" " style="width: 27px; height: 27px">#}
                        </a>
                        <a href="">
                            <img src="../static/img/inst.png" alt="" style="width: 27px; height: 27px">
                        </a>
                        <a href="">
                            <img src="../static/img/twit.png" alt="" style="width: 27px; height: 27px">
                        </a>
                        <a href="">
                            <img src="../static/img/vk.png" alt="" style="width: 27px; height: 27px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
