.cont {
    background: #0085EB;
    width: 100%;
    height: 100%;
}

.menu {
    background: #0085EB;
}

.mainText {
    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 80px;
    color: #F9F8F8;
}

.prStExBtn {
    height: 30px;
    width: 150px;
    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #F9F8F8;
    display: block;
}

.devBtn {
    height: 30px;
    width: 270px;
    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #F9F8F8;
    display: block;
}

.orgBtn {
    height: 30px;
    width: 220px;
    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #F9F8F8;
    display: block;
}


.door {
    position: fixed;
    width: 20%;
    left: 155px;
    top: 75%;
}


.whitePlace {
    background: #E5E5E5;
    border-radius: 50px 50px 0px 0px;
    width: 100%;
    text-align: center;
    height: 100%;
}

.img {
    position: center;
    top: 10%;
    width: 150px;
    height: 150px;
    left: 55%;
    border-radius: 50%;
}


* {
    font-family: Areal, serif;
}

.b-container {
    width: 200px;
    height: 150px;
    background-color: #ccc;
    margin: 0px auto;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}

.b-popup {
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
}

.b-popup .b-popup-content {
    margin: 40px auto 0px auto;
    width: 450px;
    height: 600px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;

}

.sa {
    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    float: left;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: flex-end;
    text-align: left;

    color: #595959;
}


.name {
    height: 30px;
    font-family: Intro Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #595959;
}

.skillCont {
    position: absolute;
    width: 82%;
    height: 100%;
    background: #F9F8F8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 6%;
    margin-right: 6%;
}

.txt {
    width: 100%;
    height: 19px;
    font-family: Intro Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 19px;
    text-align: left;
    padding-left: 15px;
    color: #595959;
}

.student {
    width: 100%;
    height: 16px;
    font-family: Intro Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #ffc107;
}

.skillContainer {
    position: fixed;
    width: 319px;
    height: 55px;
    left: 47.5%;
    top: 315px;
    background: #F9F8F8;
    font-family: Intro Bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;

    text-align: center;
    color: #595959;
}

.addPh {
    float: left;
    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
}


.pointsCont {
    position: absolute;
    width: 82%;
    height: 70%;
    background: #F9F8F8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 6%;
    margin-right: 6%;
}


.NSCont {
    position: absolute;
    width: 82%;
    height: 75%;
    background: #F9F8F8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 6%;
    margin-right: 6%;

}


.NSBtn {
    margin-left: 61%;

}

.col-md-7 {
    background-color: #0085EB;
    width: 100%;
    height: 100%;
}

.container-fluid {
    height: 100%;
    width: 100%;
}

.row {
    height: 100%;
    width: 100%;
    /*background-color: #0085EB;*/
    margin-right: 0;
    margin-left: 0;
}

.col-lg-6 {
    height: 20%;
}

.col-4 {
    text-align: center;
    height: 10%;
}

.col-md-auto {
    height: 12%;
    width: 100%;
}

.col-sm-4 {
    height: 20%;
    width: 100%;
}

.col-1-2 {
    height: 100%;
    width: 50%;
    float: left;
}

.col-2-2 {
    height: 100%;
    width: 50%;
    float: right;
}

.col-1-4 {
    width: 50%;
    float: left;
    height: 30%;
}

.col-2-4 {
    width: 50%;
    float: left;
    height: 30%;
}

.col-10 {
    height: 10%;
}

.col-12 {

    height: 65%;
}

.points {
    color: orangered;
    font-family: Intro Bold, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
}

.thx {
    width: auto;
    height: auto;
    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: large;
    text-align: center;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;

    color: #595959;
}

.devCont {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background: #F9F8F8;
    width: 100%;
    height: 100%;
    align-content: center;
}

.col-5 {
    height: 21%;
}

.role {
    padding-top: 5%;
    height: 36px;
    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    color: #595959;
}

.devName {
    height: 13%;
    font-family: Intro Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    text-align: center;
}

.inf {
    float: right;
    margin-top: 2%;
    margin-right: 5%;
}
