{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="image">
    <img src="{% static 'img/Ellipse 6.png' %}" class="img" alt="">
    <img src="{% static 'img/image 31.png' %}" class="im" alt="">
    <img src="{% static 'img/image 29.png' %}" class="in" alt="">
    <img src="{% static 'img/image 23.png' %}" class="id" alt="">
    <p class="title" style="color: #F9F8F8">SkillDB</p>
    <p class="text" style="color: #F9F8F8">Покажи на что <br>
        способен!
    </p>
</div>
    {# <svg width="200" height="200">#}
    {#  <circle  r="120" cx="80" cy="80" style="fill: #0085EB" >#}
    {#  </circle>#}
    {#   <text x="30px" y="70px" font-size="38px" font-weight="normal" fill="white">#}
    {#       SkillDb</text>#}
    {#     <text  x="30px" y="80px" font-size="18px" font-weight="normal" fill="white">#}
    {#         <tspan x="30" dy="20px">Покажи на что</tspan>#}
    {#         <tspan x="30" dy="15px">способен!</tspan>#}
    {#     </text>#}
    {#</svg>#}
{% block content %}
{% endblock content %}

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</html>

