{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    {% if validlink %}
    <form action="." method="post" class="text-center">
     <h1> Reset your password</h1>
     {% csrf_token %}
        <label for="{{ form.new_password1.id_for_label  }}">New password</label>
           <div class="form-group">
         <label>
    {{ form.new_password1| add_class:"form-control"|attr:"placeholder:Input password"|append_attr:"type:password"}}
        </label>
             </div>
         <label for="{{ form.new_password2.id_for_label}}">New password confirmation</label>
         <div class="form-group">
        <label>
        {{ form.new_password2|add_class:"form-control"|attr:"placeholder:Input password"|append_attr:"type:password" }}
            </label>
         </div>
        {% if form.errors %}
             {{ form.new_password2.errors.as_text }}
            {% endif %}
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Change my password</button>
        </div>
    </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
</body>
</html>