html, body{
    height: 100%;
    max-height: 100%;
}

.general-container{
    height: 100%;
    background-color: #F9F8F8;
}
.btn{
    text-align-last: center;
}
.cont{
     background-color: #F9F8F8;
}
.register{
    margin-top: 20px;
}
