{% extends "main/base_menu.html" %}
{% load static %}
{% block rightarea %}
    <div class="col-9 ">
        <div class="whitePlace prokrutka" style="
                    top:30%;
                    display: flex;
                    flex-flow: column nowrap;
                      align-items: center;
                      align-content: center;
                      justify-content: center;
                    ">

            <div style="
                                   justify-content: space-around;
                                   display: inline-flex;
                                   flex-wrap: wrap;
                                   ">
                <div><h3 style="
                                                width: 450px;
                                                font-family: Intro Bold, sans-serif;
                                                font-style: normal;
                                                font-weight: bold;
                                                font-size: 24px;
                                                line-height: 24px;

                                                color: #595959;">
                    Вы добавлены в список участников!
                </h3>
                </div>

            </div>
        </div>
{% endblock %}